.spot-details-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* always full width */
    padding: 30px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    /* box-shadow: 10px 0 7px rgba(0, 0, 0, 0.2), -10px 0 7px rgba(0, 0, 0, 0.2); */
    background-color: white;
    position: relative;
    /* z-index: 999;  */
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 16px 0;
    width: 100%;
}


.spot-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

.spot-name {
    font-size: 32px;
    font-weight: bold;
    /* justify-content: left;
    align-items: left; */
}

.spot-location {
    font-size: 14px;
    padding: 10px 0;
}

.spot-images-container {
    display: flex;
    gap: 16px;
    width: 100%;
    height: auto;       /* auto grow */
    max-height: none;   /* need a way to tweak container height */
    overflow: visible;  /* visible/hidden, hidden cuts off images */
}

.spot-images-left,
.spot-images-right-container {
    flex: 1;
    overflow: hidden;
    height: auto; /* auto grow */
}

.spot-images-left {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.spot-images-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    display: block;
}

.spot-images-right-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
  
}

.spot-details-container {
    min-height: 100vh; 
}

.spot-images-right-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 1 / 1; 
    gap: 8px;
    width: 100%;
    overflow: hidden;
    /* height: 100%; */
}

.spot-images-right-grid img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    height: 100%;
    display: block;
}

.grid-image-1,
.grid-image-2,
.grid-image-3,
.grid-image-4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.spot-info-container {
    display: flex;
    padding-top: 20px;
}

.spot-host {
    font-size: 19px;
    /* font-weight: bold; */
    /* padding: 10px 0; */
    padding-bottom: 10px;
}

.spot-description {
    width: 90%;
}

.spot-reserve-container {
    width: 65%;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    /* padding-top: 20px; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #fff;
}

.spot-reserve-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spot-price {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.spot-rating {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
}

.spot-reserve-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.reserve-btn {
    background-color: red;
    color: white;
    width: 100%;
    max-width: inherit;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reserve-btn:hover {
    background-color: darkred;
}



/* responsive */
@media (max-width: 768px) {
  .spot-images {
    flex-direction: column;
    height: auto;
  }

  .spot-images-left,
  .spot-images-right-container {
    width: 100%;
    height: 300px; /* or auto, if stacking */
  }

  .spot-images-right-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
  }
}