body {
    display: flex;
    /* flex-direction: column; */
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    color: #222;
    opacity: 1;
    transition: opacity 3s;
    background-color: #fff;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 24px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    box-shadow: 10px 0 7px rgba(0, 0, 0, 0.2), -10px 0 7px rgba(0, 0, 0, 0.2);
}
.spacer {
    display: flex;
    /* width: 500px; */
}

.home {
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
}

.profile-dropdown {
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
    position: relative;
}

img {
    width: 90%;
    height: auto;
}

.spots-grid {
    display: grid;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* display: grid; */
    grid-template-columns: repeat(4, 1fr); /* 4 columns max */
    gap: 16px;
}

.spot-card {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}



.price {
    font-size: 18px;
    font-weight: bold;
    /* color: #666; */
}
